@model IEnumerable<PortalEkoPlay.Infra.Entities.Noticia>

@{
    ViewData["Title"] = "Noticias";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Conteudo</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var noticia in Model)
    {
        <tr>
            <th scope="row">@noticia.Titulo</th>
            <td>@noticia.Conteudo</td>
        </tr>
        
    }
    </tbody>
</table>